<header>
<h1>FYT Bus Packet Generator</h1>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/packets">Packets</a></li>
<li><a href="/trips">Trips</a></li>
<li><a href="/directions">Directions</a></li>
<li><a href="/stops">Stops</a></li>
</ul>
</header>
