{% include 'src/views/common/site-head.njk' %}
<title>Edit - {{ packet.name }}</title>
{% include 'src/views/common/site-nav.njk' %}

<main>
{% include 'src/views/common/packet-editor.njk' %}
</main>
