{% include 'src/views/common/site-head.njk' %}
<title>FYT Bus Packet Generator</title>
{% include 'src/views/common/site-nav.njk' %}

<main>
<h2>Instructions</h2>
<p>
Use this form to generate informational packets for the First-Year Trips bus drivers.
Here you can generate new packets and view existing ones.
To change the information included in the packets, see the relevant pages in the nav bar.

<p>
Please note when editing packets that the packet name is the identity of the packet.
So if you edit the packet and change the name, it will be a new packet.
If you make a new packet with the same name as an existing packet, it will delete the existing packet.

{% include 'src/views/common/packet-editor.njk' %}

<!-- List of existing packets -->
<h2 id=packets-list>Existing packets</h2>
<ul>
{% for packet in packets %}
  <li hx-target=this hx-swap=outerHTML>
    <a class="button edit" href=#>Edit</a>
    <button class=delete
            hx-delete=/packets/{{ packet.id }}
            hx-confirm="Are you sure you want to delete &quot;{{ packet.name }}&quot;?"
            >Delete
    </button>
    <a href="/packets/{{ packet.id }}">{{ packet.name }}</a>
  </li>
{% endfor %}
</ul>
</main>

<footer><span>
Questions? Email <a href="mailto:Alexander.W.Petros@dartmouth.edu">Alexander.W.Petros@dartmouth.edu</a>
</span><span>
Source on <a href="https://github.com/dartmouth-outing-club/fyt-bus-packet-generator">Github</a></span></footer>
