{% include 'src/views/common/site-head.njk' %}
<title>Stops - FYT</title>
{% include 'src/views/common/site-nav.njk' %}

<main>
<h2>Stops</h2>
<p>
View the all the stops that are currently loaded into the packet generator.
<table>
  <tr><th>Stop Name<th>Packets Present
  {% for stop in stops %}
  <tr><td>{{ stop.name }}<td>{{ stop.packets_present }}
  {% endfor %}
</table>
</main>


<script>
// Populate existing directions from the backend, then enable page
</script>

