{% include 'src/views/common/site-head.njk' %}
<title>Trips - FYT</title>
{% include 'src/views/common/site-nav.njk' %}

<style>
#add-trip input { width: 70px; }
#add-trip button { display: block; margin: 20px 0; }
select#add-trip { margin-left: 5px; width: 70px; }
input#delete-trip { width: 70px; }
</style>

<main>

<h2>Add Trips</h2>
<p> Add or update a single trip:
<form hx-put=/trips id=add-trip hx-on::after-request="this.reset(); location.reload()">
<label>Name: <input name=trip-name type=text required></label>
<label>Num Students: <input name=num-students type=number required></label>
<button type=submit>Add Trip</button>
</form>

<p> Or you can upload a CSV of the current trips. How it works:
<ul>
<li>Uploading a trip of the same name as an existing one will replace the existing trip
<li>The upload will never delete an existing trip, only replace them
</ul>

<p>Make sure to upload the CSV <em>without headers, in the following order:</em> name, # students

<form action=/trips method=POST enctype=multipart/form-data>
<p><input required name=trips-csv type=file accept=.csv>
<p><button type=submit>Upload CSV</button>
</form>

<h2>Delete Trip</h2>
<input list=trip-list id=delete-trip type=text>
<datalist id=trip-list>
{{ options | safe }}
</datalist>
<button type=button class=delete onclick="deleteTrip()">Delete</button>

<h2>Current Trips</h2>
{{ table | safe }}
</main>

<footer><span>
Questions? Email <a href="mailto:Alexander.W.Petros@dartmouth.edu">Alexander.W.Petros@dartmouth.edu</a>
</span><span>
Source on <a href="https://github.com/dartmouth-outing-club/fyt-bus-packet-generator">Github</a></span></footer>

<script>
async function deleteTrip() {
	const trip = document.getElementById('delete-trip').value
	if (!window.confirm(`Delete trip ${trip}?`)) return

	const res = await fetch(`/trips/${trip}`, { method: 'DELETE' })
	if (res.status >= 400) {
		const text = await res.text()
		document.getElementsByTagName('main')[0].insertAdjacentHTML("afterbegin", text)
	} else {
		location.reload()
	}
}
</script>
