/*
This stylesheet makes use of proprietary Dartmouth typefaces. These typefaces are not stored in
the repository, but they can be found at the Dartmouth communications websites:
https://communications.dartmouth.edu/visual-identity/design-elements/typography

Though not propriety (in the sense that you cannot copyright a color), this sheet adheres to the
web version of the Dartmouth visual identify color palette:
https://communications.dartmouth.edu/visual-identity/design-elements/color-palette
*/

@font-face{
	font-family:"National2Web";
	src:url(fonts/National2Web-Regular.woff);
}

@font-face{
	font-family:"National2Web-Bold";
	src:url(fonts/National2Web-Bold.woff);
}

body {
	font-family:"National2Web","Helvetica Neue","Helvetica","Helvetica","Arial","sans-serif";
	font-weight:normal;
	font-style:normal;
	background-color: #ffffff;
	margin: 0px;
}

button {
	min-width: 50px;
	margin: 3px;
	background-color: #f7f7f7;
	border: 1px solid #424141;
	border-radius: 2px;
}

button:hover {
	background-color: #e2e2e2;
}

button[type=submit]{
	width: 183px;
	height: 38px;
	color: white;
	background-color: #00693e;
}

input[type=text] {
	width: 250px;
}

header li:hover, button[type=submit]:hover {
	background-color: #12312b;
}

button.edit {
	color: #00693e;
}

button.delete {
	color: rgb(205, 62, 43);
}

table {
	border-collapse: collapse;
}
th {
	background-color: #e2e2e2;
}

th, td {
	padding: 0px 10px 0px 5px;
	border: solid 1px;
}

h1, h2 {
	font-family:"National2Web-Bold","Helvetica Neue","Helvetica","Helvetica","Arial","sans-serif";
	font-weight: normal;
}

header {
	background-color: #005336;
	margin: 0px;
}

header > h1 {
	margin: 0px;
	padding: 20px 0px 0px 20px;
	color: #ffffff;
}

header > ul {
	padding: 0px 0px 0px 20px;
	background-color: #00693e;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

header a {
	padding: 10px;
	display: inline-block;
	color: white;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}

form > * {
	margin-bottom: 20px;
}

fieldset {
	border-color: #424141;
	border-width: 1px;
	border-radius: 3px;
}

fieldset > span {
	display: inline-block;
	min-width: 40px;
}

fieldset > hr {
	height: 1px;
	border: none;
	background-color: #424141;
}

p > label {
	display: inline-block;
	min-width: 110px;
}

select {
	width: 300px;
}

legend {
	background-color: #00693e;
	color: #fff;
	padding: 3px 6px;
}

ul#packets-list a {
	margin-right: 10px;
}

.nodisplay {
	display: none;
}
