/* https://communications.dartmouth.edu/visual-identity/design-elements/color-palette */
body {
  background-color: #ffffff;
  margin: 0px;
}

button[type=submit]{
  width: 183px;
  height: 38px;
  color: #ffffff;
  background-color: #00693e;
  border-radius: 4px;
}

button[type=submit]:hover {
  background-color: #12312b;
}

h1 {
  background-color: #00693e;
  padding: 20px;
  margin: 0px;
  color: #ffffff;
}

main {
  padding-left: 20px;
  padding-right: 20px;
}

form > * {
  margin-bottom: 20px;
}

fieldset {
	display: flex;
	flex-direction: row;
}

fieldset > label {
	margin-right: 10px;
}

fieldset > button {
	margin-left: auto;
}

select {
  width: 300px;
}

legend {
  background-color: #00693e;
  color: #fff;
  padding: 3px 6px;
}

button#add {
	background-image: url(/static/plus.svg);
	background-repeat: no-repeat;
	padding-left: 20px;
}

button.trash {
	/* background-size: 10px 10px; */
}

.nodisplay {
	display: none;
}
