body {
	margin: 30px;
}

header > h1 {
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

header > span {
	font-size: 1.3em;
}

ol {
	padding: 0px;
	list-style-type: none;
	border-bottom: 1px solid gray;
}

ol > li {
	padding: 10px;
	border: 1px solid gray;
	border-bottom: none;
}
